<!DOCTYPE html>
<html lang="en" data-theme="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Aside Demo - Semanticus CSS</title>
    <link rel="stylesheet" href="../dist/semanticus.css" id="theme-stylesheet">
  </head>
  <body>
    <header class="container">
      <h1 class="title">Aside Demo</h1>
      <nav>
        <a href="../layout.html">← Back to Layout</a>
      </nav>
    </header>

    <main class="container">
      <section class="grid">
        <iframe src="./aside/example1.html" class="border border-2" style="width: 100%; height: 300px;"></iframe>

        <iframe src="./aside/example2.html" class="border border-2" style="width: 100%; height: 300px;"></iframe>
      </section>

      <section class="grid">
        <iframe src="./aside/example3.html" class="border border-2" style="width: 100%; height: 300px;"></iframe>

        <iframe src="./aside/example4.html" class="border border-2" style="width: 100%; height: 300px;"></iframe>
      </section>
    </main>
  </body>
</html>
