<!DOCTYPE html>
<html lang="en" data-theme="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Body Demo - Semanticus CSS</title>
    <link rel="stylesheet" href="../dist/semanticus.css" id="theme-stylesheet">
  </head>
  <body>
    <header class="container">
      <h1 class="title">Body Demo</h1>
      <nav>
        <a href="../layout.html">← Back to Layout</a>
      </nav>
    </header>

    <main>
      <section class="grid">
        <div>
          <a href="./body/body.html" target="_blank">body</a>
          <iframe src="./body/body.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside.html" target="_blank">body-aside</a>
          <iframe src="./body/body-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-aside.html" target="_blank">body-aside-aside</a>
          <iframe src="./body/body-aside-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/full-example.html" target="_blank">full-example</a>
          <iframe src="./body/full-example.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-header.html" target="_blank">body-header</a>
          <iframe src="./body/body-header.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-header.html" target="_blank">body-aside-header</a>
          <iframe src="./body/body-aside-header.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-header-aside.html" target="_blank">body-aside-header-aside</a>
          <iframe src="./body/body-aside-header-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-header-aside.html" target="_blank">body-header-aside</a>
          <iframe src="./body/body-header-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-footer.html" target="_blank">body-footer</a>
          <iframe src="./body/body-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-footer.html" target="_blank">body-aside-footer</a>
          <iframe src="./body/body-aside-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-footer-aside.html" target="_blank">body-aside-footer-aside</a>
          <iframe src="./body/body-aside-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-footer-aside.html" target="_blank">body-footer-aside</a>
          <iframe src="./body/body-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-header-footer.html" target="_blank">body-header-footer</a>
          <iframe src="./body/body-header-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-header-footer.html" target="_blank">body-aside-header-footer</a>
          <iframe src="./body/body-aside-header-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-header-footer-aside.html" target="_blank">body-aside-header-footer-aside</a>
          <iframe src="./body/body-aside-header-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-header-footer-aside.html" target="_blank">body-header-footer-aside</a>
          <iframe src="./body/body-header-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

       <section class="grid">
        <div>
          <a href="./body/body-main.html" target="_blank">body-main</a>
          <iframe src="./body/body-main.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-main.html" target="_blank">body-aside-main</a>
          <iframe src="./body/body-aside-main.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-main-aside.html" target="_blank">body-aside-main-aside</a>
          <iframe src="./body/body-aside-main-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-aside.html" target="_blank">body-main-aside</a>
          <iframe src="./body/body-main-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-header-main.html" target="_blank">body-header-main</a>
          <iframe src="./body/body-header-main.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-header-main.html" target="_blank">body-aside-header-main</a>
          <iframe src="./body/body-aside-header-main.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-header-main-aside.html" target="_blank">body-aside-header-main-aside</a>
          <iframe src="./body/body-aside-header-main-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-header-main-aside.html" target="_blank">body-header-main-aside</a>
          <iframe src="./body/body-header-main-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-main-footer.html" target="_blank">body-main-footer</a>
          <iframe src="./body/body-main-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-main-footer.html" target="_blank">body-aside-main-footer</a>
          <iframe src="./body/body-aside-main-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-main-footer-aside.html" target="_blank">body-aside-main-footer-aside</a>
          <iframe src="./body/body-aside-main-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-footer-aside.html" target="_blank">body-main-footer-aside</a>
          <iframe src="./body/body-main-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-header-main-footer.html" target="_blank">body-header-main-footer</a>
          <iframe src="./body/body-header-main-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-header-main-footer.html" target="_blank">body-aside-header-main-footer</a>
          <iframe src="./body/body-aside-header-main-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-aside-header-main-footer-aside.html" target="_blank">body-aside-header-main-footer-aside</a>
          <iframe src="./body/body-aside-header-main-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-header-main-footer-aside.html" target="_blank">body-header-main-footer-aside</a>
          <iframe src="./body/body-header-main-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-main-article.html" target="_blank">body-main-article</a>
          <iframe src="./body/body-main-article.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-aside-article.html" target="_blank">body-main-aside-article</a>
          <iframe src="./body/body-main-aside-article.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-aside-article-aside.html" target="_blank">body-main-aside-article-aside</a>
          <iframe src="./body/body-main-aside-article-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-article-aside.html" target="_blank">body-main-article-aside</a>
          <iframe src="./body/body-main-article-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-main-header-article.html" target="_blank">body-main-header-article</a>
          <iframe src="./body/body-main-header-article.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-aside-header-article.html" target="_blank">body-main-aside-header-article</a>
          <iframe src="./body/body-main-aside-header-article.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-aside-header-article-aside.html" target="_blank">body-main-aside-header-article-aside</a>
          <iframe src="./body/body-main-aside-header-article-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-header-article-aside.html" target="_blank">body-main-header-article-aside</a>
          <iframe src="./body/body-main-header-article-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-main-article-footer.html" target="_blank">body-main-article-footer</a>
          <iframe src="./body/body-main-article-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-aside-article-footer.html" target="_blank">body-main-aside-article-footer</a>
          <iframe src="./body/body-main-aside-article-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-aside-article-footer-aside.html" target="_blank">body-main-aside-article-footer-aside</a>
          <iframe src="./body/body-main-aside-article-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-article-footer-aside.html" target="_blank">body-main-article-footer-aside</a>
          <iframe src="./body/body-main-article-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>

      <section class="grid">
        <div>
          <a href="./body/body-main-header-article-footer.html" target="_blank">body-main-header-article-footer</a>
          <iframe src="./body/body-main-header-article-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-aside-header-article-footer.html" target="_blank">body-main-aside-header-article-footer</a>
          <iframe src="./body/body-main-aside-header-article-footer.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-aside-header-article-footer-aside.html" target="_blank">body-main-aside-header-article-footer-aside</a>
          <iframe src="./body/body-main-aside-header-article-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>

        <div>
          <a href="./body/body-main-header-article-footer-aside.html" target="_blank">body-main-header-article-footer-aside</a>
          <iframe src="./body/body-main-header-article-footer-aside.html" class="border border-2" style="width: 100%; height: 400px;"></iframe>
        </div>
      </section>
    </main>
  </body>
</html>
