/*
  Semanticus CSS Size: Slim
*/

/* Shared variables */
@import '../variables/_shared.css';

:root,
:host {
  --font-size: 1rem;
  --spacing: 0.75rem;
  --block-spacing-vertical: 1.2rem;
  --block-spacing-horizontal: 1.2rem;
  --form-element-spacing-vertical: 0.5rem;
  --form-element-spacing-horizontal: 0.7rem;
}

@media (--breakpoint-xl) {
  :root,
  :host {
    --responsive-multiplier: 1.85;
  }
}

@media (--breakpoint-xxl) {
  :root,
  :host {
    --responsive-multiplier: 2;
  }
}

[role="search"] button,
[role="search"] [type="submit"],
[role="search"] [type="button"],
[role="search"] [role="button"],
[role="group"] button,
[role="group"] [type="submit"],
[role="group"] [type="button"],
[role="group"] [role="button"] {
  --form-element-spacing-horizontal: 1rem;
}
