/**
 * Link variants
 */
:where(a:not([role="button"])),
[role="link"] {
  &.secondary {
    --color-text: var(--color-secondary);
    --underline: var(--color-secondary-underline);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-text: var(--color-secondary-hover);
      --underline: var(--color-secondary-hover-underline);
    }
  }

  &.contrast {
    --color-text: var(--color-contrast);
    --underline: var(--color-contrast-underline);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-text: var(--color-contrast-hover);
      --underline: var(--color-contrast-hover-underline);
    }
  }
}
