/**
 * Button variants
 */
:is(button, [type="submit"], [type="button"], [role="button"]).secondary {
  --color-background: var(--color-secondary-bg);
  --border-color: var(--color-secondary-border);
  --color-text: var(--color-secondary-inverse);

  cursor: pointer;
}

:is(button, [type="submit"], [type="button"], [role="button"]).secondary:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
  --color-background: var(--color-secondary-hover-bg);
  --border-color: var(--color-secondary-hover-border);
  --color-text: var(--color-secondary-inverse);
}

:is(button, [type="submit"], [type="button"], [role="button"]).secondary:focus,
:is(button, [type="submit"], [type="button"], [role="button"]).secondary:is([aria-current]:not([aria-current="false"])):focus {
  --shadow-lg: var(--button-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--color-secondary-focus);
}

:is(button, [type="submit"], [type="button"], [role="button"]) {
  &.contrast {
    --color-background: var(--color-contrast-bg);
    --border-color: var(--color-contrast-border);
    --color-text: var(--color-contrast-inverse);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-background: var(--color-contrast-hover-bg);
      --border-color: var(--color-contrast-hover-border);
      --color-text: var(--color-contrast-inverse);
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      --shadow-lg: var(--button-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--color-contrast-focus);
    }
  }

  &.ghost {
    --color-background: transparent;
    --color-text: var(--color-primary);
    --border-color: var(--color-primary);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-background: transparent;
      --color-text: var(--color-primary-hover);
      --border-color: var(--color-primary-hover);
    }

    &.secondary {
      --color-text: var(--color-secondary);
      --border-color: var(--color-secondary);

      &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
        --color-text: var(--color-secondary-hover);
        --border-color: var(--color-secondary-hover);
      }
    }

    &.contrast {
      --color-text: var(--color-contrast);
      --border-color: var(--color-contrast);

      &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
        --color-text: var(--color-contrast-hover);
        --border-color: var(--color-contrast-hover);
      }
    }
  }
}

[type="reset"].ghost {
  --color-background: transparent;
  --color-text: var(--color-secondary);
  --border-color: var(--color-secondary);

  &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
    --color-text: var(--color-secondary-hover);
    --border-color: var(--color-secondary-hover);
  }
}
