/**
 * Modal state classes
 */
.modal-is-open {
  padding-right: var(--scrollbar-width, 0px);
  overflow: hidden;
  pointer-events: none;
  touch-action: none;

  & dialog {
    pointer-events: auto;
    touch-action: auto;
  }
}

:where(.modal-is-opening, .modal-is-closing) {
  & dialog,
  & dialog > :where(article) {
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }

  & dialog {
    animation-duration: 0.8s;
    animation-name: modal-overlay;
  }

  & dialog > :where(article) {
    animation-delay: 0.2s;
    animation-name: modal;
  }
}

.modal-is-closing {
  & dialog,
  & dialog > :where(article) {
    animation-delay: 0s;
    animation-direction: reverse;
  }
}

@keyframes modal-overlay {
  from {
    backdrop-filter: none;
    background-color: transparent;
  }
}

@keyframes modal {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
}
