/*
  Semanticus CSS Palette: Blue
  Overrides primary color variables for the blue palette
*/

/* Light theme - Blue */
[data-theme="light"],
:root:not([data-theme="dark"]),
:host(:not([data-theme="dark"])) {
  --color-text-selection: rgba(116, 139, 248, 0.25);
  --color-primary-rgb: 32, 96, 223;
  --color-primary-bg: #2060df;
  --color-primary-border: var(--color-primary-bg);
  --color-primary-underline: rgba(32, 96, 223, 0.5);
  --color-primary-hover: #184eb8;
  --color-primary-hover-bg: #1d59d0;
  --color-primary-hover-border: var(--color-primary-hover-bg);
  --color-primary-hover-underline: var(--color-primary-hover);
  --color-primary-focus: rgba(116, 139, 248, 0.5);
  --color-primary-inverse: #fff;
  --switch-thumb-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* Dark theme - Blue */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host(:not([data-theme])) {
    --color-text-selection: rgba(137, 153, 249, 0.1875);
    --color-primary-rgb: 137, 153, 249;
    --color-primary-bg: #2060df;
    --color-primary-border: var(--color-primary-bg);
    --color-primary-underline: rgba(137, 153, 249, 0.5);
    --color-primary-hover: #aeb5fb;
    --color-primary-hover-bg: #3c71f7;
    --color-primary-hover-border: var(--color-primary-hover-bg);
    --color-primary-hover-underline: var(--color-primary-hover);
    --color-primary-focus: rgba(137, 153, 249, 0.375);
    --color-primary-inverse: #fff;
    --switch-thumb-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

[data-theme="dark"] {
  --color-text-selection: rgba(137, 153, 249, 0.1875);
  --color-primary-rgb: 137, 153, 249;
  --color-primary-bg: #2060df;
  --color-primary-border: var(--color-primary-bg);
  --color-primary-underline: rgba(137, 153, 249, 0.5);
  --color-primary-hover: #aeb5fb;
  --color-primary-hover-bg: #3c71f7;
  --color-primary-hover-border: var(--color-primary-hover-bg);
  --color-primary-hover-underline: var(--color-primary-hover);
  --color-primary-focus: rgba(137, 153, 249, 0.375);
  --color-primary-inverse: #fff;
  --switch-thumb-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
