/*
  Semanticus CSS Palette: Pumpkin
  Overrides primary color variables for the pumpkin palette
*/

/* Light theme - Pumpkin */
[data-theme="light"],
:root:not([data-theme="dark"]),
:host(:not([data-theme="dark"])) {
  --color-text-selection: rgba(232, 120, 62, 0.25);
  --color-primary: #9e3806;
  --color-primary-bg: #f4a37d;
  --color-primary-border: var(--color-primary-bg);
  --color-primary-underline: rgba(158, 56, 6, 0.5);
  --color-primary-hover: #7a2b05;
  --color-primary-hover-bg: #f6b091;
  --color-primary-hover-border: var(--color-primary-hover-bg);
  --color-primary-hover-underline: var(--color-primary-hover);
  --color-primary-focus: rgba(232, 120, 62, 0.5);
  --color-primary-inverse: #000;
  --switch-thumb-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

/* Dark theme - Pumpkin */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host(:not([data-theme])) {
    --color-text-selection: rgba(243, 153, 111, 0.1875);
    --color-primary: #f3996f;
    --color-primary-bg: #f4a37d;
    --color-primary-border: var(--color-primary-bg);
    --color-primary-underline: rgba(243, 153, 111, 0.5);
    --color-primary-hover: #f5b7a8;
    --color-primary-hover-bg: #f5b7a8;
    --color-primary-hover-border: var(--color-primary-hover-bg);
    --color-primary-hover-underline: var(--color-primary-hover);
    --color-primary-focus: rgba(243, 153, 111, 0.375);
    --color-primary-inverse: #000;
    --switch-thumb-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
}

[data-theme="dark"] {
  --color-text-selection: rgba(243, 153, 111, 0.1875);
  --color-primary: #f3996f;
  --color-primary-bg: #f4a37d;
  --color-primary-border: var(--color-primary-bg);
  --color-primary-underline: rgba(243, 153, 111, 0.5);
  --color-primary-hover: #f5b7a8;
  --color-primary-hover-bg: #f5b7a8;
  --color-primary-hover-border: var(--color-primary-hover-bg);
  --color-primary-hover-underline: var(--color-primary-hover);
  --color-primary-focus: rgba(243, 153, 111, 0.375);
  --color-primary-inverse: #000;
  --switch-thumb-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
