/*
  Semanticus CSS Palette: Violet
  Overrides primary color variables for the violet palette
*/

/* Light theme - Violet */
[data-theme="light"],
:root:not([data-theme="dark"]),
:host(:not([data-theme="dark"])) {
  --color-text-selection: rgba(167, 128, 212, 0.25);
  --color-primary-rgb: 117, 64, 191;
  --color-primary-bg: #7540bf;
  --color-primary-border: var(--color-primary-bg);
  --color-primary-underline: rgba(117, 64, 191, 0.5);
  --color-primary-hover: #6935b3;
  --color-primary-hover-bg: #6935b3;
  --color-primary-hover-border: var(--color-primary-hover-bg);
  --color-primary-hover-underline: var(--color-primary-hover);
  --color-primary-focus: rgba(167, 128, 212, 0.5);
  --color-primary-inverse: #fff;
  --switch-thumb-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* Dark theme - Violet */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host(:not([data-theme])) {
    --color-text-selection: rgba(189, 159, 223, 0.1875);
    --color-primary-rgb: 189, 159, 223;
    --color-primary-bg: #7540bf;
    --color-primary-border: var(--color-primary-bg);
    --color-primary-underline: rgba(189, 159, 223, 0.5);
    --color-primary-hover: #d3bfe8;
    --color-primary-hover-bg: #8352c5;
    --color-primary-hover-border: var(--color-primary-hover-bg);
    --color-primary-hover-underline: var(--color-primary-hover);
    --color-primary-focus: rgba(189, 159, 223, 0.375);
    --color-primary-inverse: #fff;
    --switch-thumb-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

[data-theme="dark"] {
  --color-text-selection: rgba(189, 159, 223, 0.1875);
  --color-primary-rgb: 189, 159, 223;
  --color-primary-bg: #7540bf;
  --color-primary-border: var(--color-primary-bg);
  --color-primary-underline: rgba(189, 159, 223, 0.5);
  --color-primary-hover: #d3bfe8;
  --color-primary-hover-bg: #8352c5;
  --color-primary-hover-border: var(--color-primary-hover-bg);
  --color-primary-hover-underline: var(--color-primary-hover);
  --color-primary-focus: rgba(189, 159, 223, 0.375);
  --color-primary-inverse: #fff;
  --switch-thumb-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
