<!DOCTYPE html>
<html lang="en" data-theme="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Aside Demo2 - Semanticus CSS</title>
    <link rel="stylesheet" href="../../dist/semanticus.css">
    <link rel="stylesheet" href="../../debug.css">
  </head>
  <body>
    <aside class="text-bg-contrast">
      <nav class="text-bg-contrast-subtle">
        <h2>Logo</h2>
      </nav>

      <nav class="text-bg-contrast-subtle">
        <a href="#!">Log out</a>
      </nav>
    </aside>
  </body>
</html>
