<!DOCTYPE html>
<html lang="en" data-theme="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Header Demo3 - Semanticus CSS</title>
    <link rel="stylesheet" href="../../dist/semanticus.css">
    <link rel="stylesheet" href="../../debug.css">
  </head>
  <body>
    <header class="text-bg-secondary-subtle">
      <nav>
        <ul><li><h3>logo</h3></li></ul>
        <ul><li>tagline</li></ul>
        <ul>
          <li>
            <a href="#" role="button" class="ghost contrast">Support</a>
          </li>
          <li>
            <details>
              <summary aria-haspopup="menu">More</summary>
              <ul role="menu">
                <li><a role="menuitem" href="#" onclick="event.preventDefault()">Services</a></li>
                <li><a role="menuitem" href="#" onclick="event.preventDefault()">Portfolio</a></li>
                <li><a role="menuitem" href="#" onclick="event.preventDefault()">Careers</a></li>
              </ul>
            </details>
          </li>
          <li>
            <a href="#" role="button">About</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
